#taskbar_left {
    float: left;
    padding: 0px 10px;
}

#taskbar_center {
    padding-top: 5px;
    float: left;
}

#taskbar_center #tabs_left_scroll {
    float: left;
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url('images/tabs_arrow.png') no-repeat 0px center;
}

#taskbar_center #tabs_left_scroll.active{
    background:url('images/tabs_arrow.png') no-repeat -60px center;
}

#taskbar_center #tabs_right_scroll{
    float:right;
    display: none;
    width:30px;
    height:30px;
    cursor:pointer;
    background:url('images/tabs_arrow.png') no-repeat -30px center;
}

#taskbar_center #tabs_right_scroll.active{
    background:url('../10/images/tabs_arrow.png') no-repeat -90px center;
}


#taskbar_center #tabs_container {
    height: 35px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
}

#taskbar_center #tabs_container .js_menu {
    display: inline-block;
    margin-right: 3px;
    padding-right: 5px;
    white-space: nowrap;
    background: url('images/tabs_inactive.png') no-repeat right -36px;
}

#taskbar_center #tabs_container div a.tab {
    display: inline-block;
    padding-left: 10px;
    padding-right: 3px;
    min-width: 64px !important;
    width: auto !important;
    width: 80px;
    text-decoration: none;
    color: #07294f;
    height: 35px;
    font-size: 13px;
    line-height: 35px;
    text-align: center;
    position: relative;
    background: url('images/tabs_inactive.png') no-repeat left 0px;
}

#taskbar_center #tabs_container div a.close {
    display: none;
    width: 16px;
    height: 16px;
    margin-bottom: -4px !important;
    margin-bottom: 2px;
    background: url('images/tabs_close.png') 0px center no-repeat;
    position: relative;
}

#taskbar_center #tabs_container div.selected{
    background:url('images/tabs_active.png') no-repeat right -36px;
}

#taskbar_center #tabs_container div.selected a.tab{
    color:#227db2;
    font-weight:bold;
    background:url('images/tabs_active.png') no-repeat left 0px;
}

#taskbar_center #tabs_container div.selected a.close {
    display: inline-block;
}

.js_ctnr {
    float: left;
    width: auto;
}