/*清零*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input
	{
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-size: 12px;
	font-family: '\65B0\5B8B\4F53', '\5B8B\4F53', Verdana;
}

ul,ol {
	list-style-type: none;
}

select,input,img {
	vertical-align: middle;
	outline: none;
}

a {
	text-decoration: none;
}

a {
	blr: expression(this.onFocus = this.blur ())
}

a {
	outline: none;
}

html {
	overflow-x: hidden;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.clearfix {
	zoom: 1;
	overflow: hidden
}

.fl {
	float: left;
}

.fr {
	float: right;
}

body {

}

.bannerBg .style1{
	display:none;
}

.bannerBg .style2{
	display:inline;
}

.header {
	height: 95px;
	float: left;
	width: 100%;
}

.header_r {
	padding-right: 26px;
	width: 300px;
}

.header_r_t {
	height: 20px;
	background: #8FAEBE;
	margin-top: 7px;
	overflow: hidden;
	width: 225px;
	float: right;
}

.header_r_t a {
	float: left;
	color: #365972;
	font-size: 12px;
	line-height: 20px;
	width: 62px;
	text-align: center;
	border-left: 1px solid #7FA1B4;
}

.header_r_b {
	margin-top: 15px;
	height: 28px;
	width: 226px;
	border: 1px solid #A9B9C4;
	float: right;
	background: #96A7B3;
	position: relative;
}

.header_r_b input {
	padding: 6px 10px;
	width: 276px;
	background: none;
	position: relative;
	z-index: 3;
}

.header_r_b span {
	position: absolute;
	left: 10px;
	top: 7px;
	color: #FFF;
	z-index: 2px;
}

.header_r_b a {
	background: url(../images/search.png) left top no-repeat;
	width: 24px;
	height: 25px;
	display: block;
	position: absolute;
	right: 5px;
	top: 2px;
	cursor: pointer;
	z-index: 3
}

.nav {
	/*float: right;*/
	color:#fff;
}

.nav_l a {
	color:#fff;
}

.nav_r {
	height: 22px;
	border-right: 1px solid #768FA3;
	margin-top: 2px;
	padding-top: 4px;
}

.nav_r li {
	float: left;
	color: #597286;
}

.nav_r span {
	border-right: 1px solid #9CB5C9;
	padding: 0 15px 0 0px;
	font-size: 12px;
	height: 20px;
	display: block;
	line-height: 20px;
	cursor: pointer;
}

.nav_r .span_border_none {
	border-right: none;
}

.nav_r .a_color1 {
	color: #469572;
	font-weight: bold;
}

.nav_r .a_color2 {
	color: #B15F72;
}

.nav_r li .rcap {
	background: url(../images/date_edit.png) 10px center no-repeat;
}

.nav_r li .gzdb {
	background: url(../images/clock_red.png) 10px center no-repeat;
}

.nav_r li .desktop {
	background: url(../images/monitor.png) 10px center no-repeat;
}

.nav_r li .Logout {
	background: url(../images/door_open.png) 10px center no-repeat;
}

.matters {
	overflow: hidden;
	float: right;
	margin-top: 20px;
	font-size: 14px;
	font-family: 微软雅黑;
}

.matters .matter {
    float: left;
    padding: 0 6px;
    height: 40px;
    position: relative;
    color: #fff;
    line-height: 40px;
    margin-right: 10px;
}

.matters .matter img.matterBg {
	position: absolute;
	z-index: -1;
	display: block;
	width:100%;
	height:100%;
}

.matters .matter .numberBox{
	display: inline-block;
    position: relative;
    top: 11px;
    top:4px\9;
    left:5px;
}

.matters .matter span.matterText {
	font-size:17px;
	display: inline-block;
	text-align: center;
	float:left;
}

.matters .matter span.numberLeft{
    width: 6px;
    height: 20px;
    display: inline-block;
    float: left;	
}

.matters .matter span.numberRight{
	width: 6px;
    height: 20px;
    display: inline-block;
    float: left;
}

.matters .matter span.matterNumber {
	background-color:#fff;
	height: 20px;
	line-height:20px;
	font-size:18px;
	text-align: center;
	display: inline-block;
	float: left;
}

.matters .matter2 .numberBox{
	top:10px\9;
}

.matters .matter1 span.matterText  {
	margin-left:14px;
	letter-spacing:2px;
	right:8px;
}

.matters .matter2 span.matterText  {
	margin-left:14px;
	letter-spacing:2px;
	right:8px;
}

.matters .matter3 span.matterText  {
	margin-left:12px;
}

.matters .matter4 span.matterText  {
	margin-left:12px;
}
.matters .matter1 span.matterNumber  {
	color:#edbf08;
}

.matters .matter2 span.matterNumber {
	color:#00cacd;
}

.matters .matter3 span.matterNumber {
	color:#e5760a;
	right:0px;
}

.matters .matter4 span.matterNumber {
	color:#008eec;
	right:0px;
}

.c_left {
	width: 218px;
	position: absolute;
	left: 0;
	top: 95px;
	bottom: 0px;
	overflow: hidden;
}

.c_center {
	position: absolute;
	left: 225px;
	right: 225px;
	top: 96px;
	bottom: 0;
}

.c_center2 {
	left: 8px;
}

.c_center3 {
	right: 8px;
}

.c_right {
	position: absolute;
	right: 0;
	top: 110px;
	bottom: 20px;
	width: 220px;
}

.c_left_box {
	padding-left: 16px;
}

.deta {
	background: url(../images/deta_bg.png) left center no-repeat;
	width: 210px;
	height: 64px;
	margin-top: 13px;
}

.qdsj {
	background: url(../images/djqd.png) left top no-repeat;
	width: 92px;
	height: 54px;
	margin-left: -3px;
	padding: 10px 0 0 20px;
}

.qdsj span {
	font-size: 16px;
	text-shadow: 1px 1px 1px #B24E06;
	color: #FFFFD8;
	font-family: "宋体";
	font-weight: bold;
}

.qdsj strong {
	font-size: 24px;
	color: #000;
	margin-top: 2px;
	display: block;
}

.deta_right {
	padding: 2px 0 0 2px;
}

.deta_right p {
	margin-top: 8px;
	line-height: 18px;
}

.deta_right p span {
	color: #AAAAAA;
	margin-right: 6px;
}

.deta_right p a {
	color: #7F7F7F;
	width: 60px;
	height: 18px;
	background: #222222;
	text-align: center;
}

.yjxx {
	background: url(../images/yjxx_bg.png) left top no-repeat;
	width: 218px;
	height: 112px;
	margin-top: 10px;
	overflow: hidden;
}

.yjxx h3 {
	margin-left: 30px;
	margin-top: 12px;
	display: block;
	margin-bottom: 6px;
}
.yjxx a {
	display: block;
	padding-left: 60px;
	height: 26px;
	width: 154px;
	color: #2C2A2C;
	line-height: 30px;
}

.yjxx a span {
	color: #F00;
}

.yjxx .a_active {
	background: url(../images/yjxx_a_hover.png) left top no-repeat;
	margin-left: 2px;
	padding-left: 58px;
	color: #004020;
}

.sxcd_c {
	width: 218px;
}

.child {
	display: none;
}

.menu_list{
	overflow-x:hidden;
	overflow-y:auto;
}

.menu_list li a {
	display: block;
	font-size: 14px;
	color: #2c2a2d;
	width: 210px;
	text-indent:30px;
	background-color:#273847;
}

.menu_list ul li .yjcd {
	font-size:16px;
	color: #fff;
	background: url(../img/images2/sxcd_wzbg.png) 20px center no-repeat;
	background-color:#2b4e85;
	width: 218px;
	height:42px;
	line-height:42px;
	position:relative;
}

.menu_list ul li .yjcd:hover{
	background-color: #3f649e;	
}

.menu_list ul li .yjcd span {
	display: inline-block;
	width: 11px;
	height: 7px;
}

.menu_list ul li .ejcd {
	padding: 0px 0px 0px 30px;
	text-indent:10px;
	height:40px;
	line-height:40px;
	font-size:15px;
	font-family:微软雅黑;
	color: #fff;
	text-indent:30px;
	position:relative;
}

.menu_list ul li .ejcd:hover{
	background-color: #5e8bbb;
	color:white;
}

.menu_list ul li .ejcd span {
	display: inline-block;
	width: 11px;
	height: 7px;
	margin-top: 4px;
	margin-right: 5px;
}

.menu_list ul li .ejcd span.caret-down{
    width: 10px;
    height: 10px;
    position: absolute;
    left: 40px;
    top: 11px;
    border:none;
    background-image:url(../img/images2/icon_down.png);
    background-repeat:np-repeat;
    display:none;
}

.menu_list ul li .ejcd span.caret-right{
	border:none;
	width: 10px;
    height: 10px;
    position: absolute;
    left: 40px;
    top: 11px;
	background-image:url(../img/images2/icon_right.png);
	background-repeat:no-repeat;
	display:none;
}

.menu_list ul li .ejcd:hover{
	background-color:#1566df;
}
.menu_list ul li .yjcd span.caret-down{
	width:10px;
	height:10px;
	border:none;
	position: absolute;
    top: 7px;
    right: 20px;
    display:none;
	background-image:url(../img/images2/icon_down.png);
	background-position:center center;
	background-repeat:no-repeat;
}

.menu_list ul li .yjcd span.caret-right{
	background-image:url(../img/images2/icon_right.png);
	background-position:center center;
	background-repeat:no-repeat;
	border:none;
	width:10px;
	height:10px;
	position:absolute;
	right:20px;
	top:10px;
}
/*三级菜单样式*/
.menu_list ul li .sjcd {
	padding: 0px 0 0px 60px;
	color: #fff;
	font-size: 12px;
	text-indent:20px;
	height:40px;
	line-height:40px;
	font-size:15px;
	background-color:#273847;
}
/*三级菜单鼠标滑过样式*/
.menu_list ul li .sjcd:hover{
	background-color: #1566df;
	font-weight:bold;
	color:white;
}

.c_center_title li.tabs-selected {
	background: url(../images/title_li_bg.png) left top no-repeat;
	color: #FFF;
}

.tabs-panels {
	background: url(../images/content_bg.png) left top;
	position: absolute;
	left: 0;
	right: 0;
	top: 32px;
	bottom: 0;
}

.c_right_tab {
	padding: 10px 0 0 32px;
}

.c_right_tab span {
	float: left;
	color: #A9A9A9;
	font-weight: bold;
	font-size: 12px;
	width: 65px;
	height: 27px;
	background: url(../images/c_right_tab_span.png) left top no-repeat;
	margin-right: 10px;
	text-align: center;
	line-height: 27px;
	cursor: pointer;
}

.c_right_tab .c_right_tab_span {
	color: #9DCB13;
}

.c_right_title {
	color: #333333;
	font-size: 12px;
	font-family: "宋体";
	background: url(../images/house.png) left center no-repeat;;
	padding-left: 18px;
	height: 16px;
	display: block;
	line-height: 16px;
	font-weight: normal;
	margin-top: 10px;
}

.c_right_list {
	display: none;
}

.c_right_list li span {
	background: url(../images/group.png) left center no-repeat;
	padding-left: 18px;
	display: block;
	height: 16px;
	line-height: 16px;
	color: #333333;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.c_right_list li a {
	padding-left: 36px;
	display: block;
}

.c_right_list li a i {
	background: url(../images/status_offline.png) left center no-repeat;
	height: 16px;
	line-height: 16px;
	padding-left: 14px;
	display: block;
	color: #006E92;
	font-style: normal;
	padding-top: 3px;
	padding-bottom: 3px;
}

.c_right_list li a i.dlzt {
	background: url(../images/status_online.png) left center no-repeat;
}

.c_right_list li a:hover {
	background: #599EBF;
}

.c_right_list li a:hover i {
	color: #FFF;
}

.list {
	position: absolute;
	left: 0;
	top: 0;
	position: relative;
	height: 470px;
	padding: 20px 0 0 10px;
}

.list p {
	position: absolute;
	width: 140px;
	height: 30px;
	left: 50%;
	bottom: 0;
	margin-left: -70px;
}

.list p span {
	margin-right: 10px;
	cursor: pointer;
	background: url(../images/bullet_white.png) left top no-repeat;
	float: left;
	width: 24px;
	height: 24px;
}

.list p span.span {
	background: url(../images/bullet_green.png) left top no-repeat;
}

.list .list_div {
	cursor: pointer;
	width: 100%;
}

.list_div_left {
	width: 15px;
	height: 220px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
	background: url(../images/list_div_left.jpg) left top no-repeat;
	margin-left: 0px;
}

.list_div_center {
	width: 99%;
	position: absolute;
	left: 7px;
	top: 0;
	z-index: 2;
	height: 204px;
	background: url(../images/list_div_center.jpg) left top repeat-x;
}

.list_div_right {
	width: 15px;
	position: absolute;
	right: -6px;
	top: 0;
	z-index: 3;
	height: 204px;
	background: url(../images/list_div_right.jpg) left top no-repeat;
	margin-right: 0;
}

.list_div_box {
	position: relative;
	height: 204px;
	margin-right: 1%;
	margin-bottom: 20px;
}

.list_div_title {
	margin: 7px 15px 0 10px;
}

.list_div_title h3 img {
	margin-right: 10px;
	margin-top: 3px;
}

.list_div_tab span {
	display: inline-block;
	margin-right: 10px;
	font-size: 14px;
	color: #555;
	border: 1px solid #88ACCF;
	border-bottom: none;
	padding: 5px 6px;
	border-radius: 6px 6px 0 0;
	background: #D5E8FA;
}

.list_div_tab .spanColor {
	color: #2C4B54;
	background: #FFF;
	border: 1px solid #61A3BE;
	border-bottom: none;
	margin-top: 0px;
	padding-bottom: 6px;
}

.list_div_tab {
	position: absolute;
	top: 10px;
	left: 50px;
}

.list_div_title a {
	line-height: 28px;
	color: #468c00;
}

.list_div_content {
	margin: 8px 15px 0 10px;
	line-height: 35px;
	min-height: 130px;
	overflow: hidden
}

.list_div_content li a {
	color: #2c4b55;
	font-size: 14px;
	width: 80%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.list_div_content li i {
	font-style: normal;
	font-size: 14px;
	color: #777;
}

.more a {
	color: #555;
	font-size: 12px;
}

.left {
	position: absolute;
	left: 218px;
	top: 50%;
	width: 7px;
	height: 100px;
	margin-top: 30px;
	background: url(../images/left.png) left top no-repeat;
	z-index: 9;
	cursor: pointer;
}

.left2 {
	left: 0;
	background: url(../images/right.png) -5px top no-repeat;
}

.right {
	position: absolute;
	right: 213px;
	top: 50%;
	width: 7px;
	height: 100px;
	margin-top: 30px;
	background: url(../images/right.png) left top no-repeat;
	z-index: 9;
	cursor: pointer;
}

.right2 {
	right: 0;
}

.none {
	display: none;
}

.warning-null {
	text-align: center;
	margin: 0 auto;
	size: 14px;
}

.portlet1 {
	position: relative;
	width: 99%;
	border: 0px;
	border-collapse: collapse;
}

.portlet1 td {
	border: 0px;
}

.top_left1 {
	/* background: url(../images/top_left.jpg); */
	width: 11px;
}

.top1 {
	height: 30px;
	/* background: url(../images/top.jpg); */
	font-size: 12px;
}

.top1 a {
	color: #018d01;
	font-size:14px;
}

.top_right1 {
	width: 11px;
	/* background: url(../images/top_right.jpg); */
}

.left1 {
	/* background: url(../images/left.jpg); */
}

.center1 {
	/* background: url(../images/center.jpg); */
}

.right1 {
	/* background: url(../images/right.jpg); */
}

.bottom_left {
	/* background: url(../images/bottom_left.jpg); */
	height: 23px;
	display:none;
}

.bottom {
	/* background: url(../images/bottom.jpg); */
	font-size: 12px;
	text-align: right;
	display:none;
}

.bottom_right {
	/* background: url(../images/bottom_right.jpg); */
	display:none;
}